.container{
    background-color: antiquewhite;
    position: absolute;
    left: 40%;
    top: 40%;
    padding: 80px 80px;
    
}
button{
    margin-bottom: 20px;
}
#results{
    color: black;
    font-size: 25px;
    font-weight: 800;
}